@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    height: 80px;
    background-color: #F5CB00;
}

.principal {
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 70%;
    align-items: center;
    position: sticky;
}

.anclas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.anclas * {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.section1 {
    display: flex;
    justify-content: center;
    gap: 8%;
}

.section1 img {
    margin-top: 80px;
}

.texto-section1 {
    margin-top: 140px;
}

.texto-section1 {
    width: 20%;
}

.texto-section1 h1 {
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 0.8;
    font-weight: lighter;
}

.texto-section1 p {
    font-size: 18px;
    text-align: justify;
    line-height: 0.9;
}

.texto-section1 * {
    margin-bottom: 30px;
}

.texto-section1 button {
    background-color: #F5CB00;
    font-size: 17px;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
}